body {
  background-color: gray;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #fff;
  padding: 5px;
  margin: 50px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__title {
  color: #282828;
  font-size: 14px;
  background-color: #fff;
  margin-bottom: -6px;
}
.card__subtitle {
  color: #282828;
  font-size: 14px;
  background-color: #fff;
  margin: 1px;
}
.card__description {
  color: #282828;
  font-size: 12px;
  margin: 1px;
  margin-bottom: -6px;
}
.card__img-top {
  width: 288px;
  height: 182px;
}

@media screen and (max-width: 320px) {
  .card__title {
    font-size: 10px;
  }
  .card__subtitle {
    font-size: 10px;
  }
  .card__description {
    display: none;
  }
  .card {
    background-color: #fff;
    padding: 5px;
    margin: 5px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    background-color: #fff;
    padding: 5px;
    margin: 15px;
  }
  .card__title {
    font-size: 10px;
  }
  .card__subtitle {
    font-size: 10px;
  }
  .card__description {
    font-size: 8px;
  }
}
